<div class="row">
  <div class="col-sm-6 col-md-4 col-lg-3" ng-repeat="recipe in recipes">
    <div class="thumbnail">
      <div class="recipe-card">
          <img class="img-responsive" src="{{recipe.photo}}">
          <h2><a href="#/recipes/{{ recipe.id }}">{{ recipe.name }}</a></h2>

        <p>{{recipe.description}}</p>
    </div>
    </div>
  </div>
</div>






<!--<div class="col-sm-6 col-md-4 col-lg-3" ng-repeat="recipe in recipes">-->
    <!--<div class="recipe-card">-->
        <!--<h2><a href="#/recipes/{{ recipe.id }}">{{ recipe.name }}</a></h2>-->
        <!--<img class="img-responsive" src="{{recipe.photo}}">-->

        <!--<p>{{recipe.description}}</p>-->
    <!--</div>-->
<!--</div>-->

<a href="#/add-recipe">Add a New recipe</a>


